<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<body>
  <form>
    <h1>TODO List</h1>
    <p>A place to store things you have to do!</p>
    <input type="text" name="filter" placeholder=" Filter your to-dos">
    <ol>
      <li *ngFor="let item of listItems; index as i">
        <div [ngClass]="{'completed': item.completed === true}">
          <button class="completeBtn" *ngIf="!item.completed">Complete</button>
          {{ item.task }}
          </div>
          <i class="material-icons">close</i>
      </li>
    </ol>
    <input type="text" name="add" placeholder=" Add your to do">
    <button class="addBtn">Add</button>
  </form>
</body>