body {
    display: flex;
    justify-content: center;
}

form {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: white;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.completed {
    text-decoration: line-through;
}

button, input, form {
 border-radius: 5px;
}

.addBtn, input {
    height: 40px;
}

.addBtn {
    margin-top: 16px;
    background-color: #ff69b4;
    border: none;
    color: #eee;
}

input {
    border: 1px solid #bbb;
}

::placeholder {
    color: #bbb;
}

.completeBtn {
    color: #ff1493;
    border: 1px solid #ff1493;
    background-color: white;
    font-size: 10px;
    height: 25px;
}

li {
    position: relative;
    padding: 10px;
}

div {
    display: inline-block;
}

i {
    position: absolute;
    right: 5px;
}
